<section class="buy-section">
  <div class="buy-section__background"></div>
  <div class="buy-section__container">
    <div class="buy-section__block">
      <h2 class="buy-section__title">Купить игру Cyberpunk 2077</h2>
      <div class="buy-section__complects">
        <h3 class="buy-section__inclusion">В комплект входит:</h3>
        <ul class="buy-section__list">
          <li class="buy-section__item">
            <picture>
              <source srcset="<%= require('../img/icons/disk.png?as=webp') %>" type="image/webp">
              <img src="<%= require('../img/icons/disk.png') %>" alt="" class="buy-section__icons">
            </picture>
            Футляр с игровыми дисками
          </li>
          <li class="buy-section__item">
            <picture>
              <source srcset="<%= require('../img/icons/code.png?as=webp') %>" type="image/webp">
              <img src="<%= require('../img/icons/code.png') %>" alt="" class="buy-section__icons">
            </picture>
            Футляр с кодом для загрузки игры и дисками (pc)
          </li>
          <li class="buy-section__item">
            <picture>
              <source srcset="<%= require('../img/icons/collections.png?as=webp') %>" type="image/webp">
              <img src="<%= require('../img/icons/collections.png') %>" alt="" class="buy-section__icons">
            </picture>
            Справочник с информацией об игровом мире
          </li>
        </ul>
      </div>
      <div class="buy-section__crossplatforms">
        <h3 class="buy-section__choice">Выберите платформу:</h3>
        <div class="buy-section__table">
          <div class="buy-section__cell">
            <a href="https://store.steampowered.com/bundle/32470/Cyberpunk_2077_Polnoe_izdanie/" target="_blank" class="buy-section__link">
              <picture>
                <source srcset="<%= require('../img/icons/PC.png?as=webp') %>" type="image/webp">
                <img src="<%= require('../img/icons/PC.png') %>" alt="" class="buy-section__platform">
              </picture>
            </a>
            <a href="" target="_blank" class="buy-section__link">
              <picture>
                <source srcset="<%= require('../img/icons/XBOX_ONE.png?as=webp') %>" type="image/webp">
                <img src="<%= require('../img/icons/XBOX_ONE.png') %>" alt="" class="buy-section__platform">
              </picture>
            </a>
          </div>
          <div class="buy-section__cell">
            <a href="" target="_blank" class="buy-section__link">
              <picture>
                <source srcset="<%= require('../img/icons/stadia.png?as=webp') %>" type="image/webp">
                <img src="<%= require('../img/icons/stadia.png') %>" alt="" class="buy-section__platform">
              </picture>
            </a>
            <a href="" target="_blank" class="buy-section__link">
              <picture>
                <source srcset="<%= require('../img/icons/PS4.png?as=webp') %>" type="image/webp">
                <img src="<%= require('../img/icons/PS4.png') %>" alt="" class="buy-section__platform">
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>