<main class="raffle-console">
  <div class="raffle-console__container">
    <div class="raffle-console__header">
      <div class="raffle-console__logo">
        <picture>
          <source srcset="<%= require('../img/logo/logo_raffle.jpg?as=webp') %>" type="image/webp">
          <img src="<%= require('../img/logo/logo_raffle.jpg') %>" alt="Лого" />
        </picture>
      </div>
      <h2 class="raffle-console__title">Играй и выигрывай!</h2>
    </div>
    <p class="raffle-console__description">
      Играй в 
      <span class="raffle-console__text dedicated"><a href="https://www.cyberpunk.net/ru/ru/" target="_blank" class="raffle-console__link">Cyberpunk 2077</a></span> 
      и получи возможность выиграть консоль 
      <span class="raffle-console__text dedicated"><a href="https://www.xbox.com/ru-RU/consoles/xbox-series-x" target="_blank" class="raffle-console__link">Xbox Series X</a></span> 
      или Sony 
      <span class="raffle-console__text dedicated"><a href="https://www.playstation.com/ru-ua/ps5/" target="_blank" class="raffle-console__link">Sony PlayStation 5!</a></span>
      Заполни форму ниже и приложи скриншот о покупке игры. Итоги розыгрыша будут подведены 1 февраля. Удачи! ;)
    </p>
    <div class="raffle-console__block">
      <form action="" class="raffle-console__form">
        <input type="text" class="raffle-console__field" placeholder="Как тебя зовут ?" />
        <input type="email" class="raffle-console__field" placeholder="Твой е-mail" />
        <label for="file" class="raffle-console__label-file">
          <span class="raffle-console__label-title">Прикрепить скриншот</span>
          <span class="raffle-console__label-subtitle">.png / .jpg / .pdf</span>
        </label>
        <input type="file" id="file" class="raffle-console__file" accept=".png, .jpg, .pdf" />
        <button class="raffle-console__button">Отправить</button>
        <div class="raffle-console__checked">
          <input type="checkbox" id="agreement" class="raffle-console__checkbox" />
          <label class="raffle-console__agreement" for="agreement">Согласен на обработку персональных данных</label>
        </div>
      </form>
      <div class="raffle-console__gallery">
        <div class="raffle-console__XBOX">
          <picture>
            <source srcset="<%= require('../img/gallery/Xbox_SeriesX.jpg?as=webp') %>" type="image/webp">
            <img src="<%= require('../img/gallery/Xbox_SeriesX.jpg') %>" alt="Xbox SeriesX" />
          </picture>
        </div>
        <div class="raffle-console__PS5">
          <picture>
            <source srcset="<%= require('../img/gallery/PS5.jpg?as=webp') %>" type="image/webp">
            <img src="<%= require('../img/gallery/PS5.jpg') %>" alt="PS5" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</main>