<section class="night-city">
  <div class="night-city__container">
    <article class="night-city__text">
      <h2 class="night-city__title">Найт-Сити изменит тебя навсегда!</h2>
      <h3 class="night-city__description"><span class="raffle-console__text dedicated"><a href="#" class="raffle-console__link">Cyberpunk 2077</a></span>  — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V, наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь менять киберимпланты, навыки и стиль игры своего персонажа, исследуя открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя окружает.</h3>
    </article>
    <div class="night-city__gallery">
      <div class="night-city__small-img">
        <picture>
          <source srcset="<%= require('../img/gallery/small_CP_1.png?as=webp') %>" type="image/webp">
          <img src="<%= require('../img/gallery/small_CP_1.png') %>" alt="Night-city red" class="night-city__small-img_item">
        </picture>
        <picture>
          <source srcset="<%= require('../img/gallery/small_CP_2.png?as=webp') %>" type="image/webp">
          <img src="<%= require('../img/gallery/small_CP_2.png') %>" alt="Night-city blue" class="night-city__small-img_item">
        </picture>
      </div>
      <div class="night-city__large-img">
        <picture>
          <source srcset="<%= require('../img/gallery/large_CP.png?as=webp') %>" type="image/webp">
          <img src="<%= require('../img/gallery/large_CP.png') %>" alt="Night-city large" class="night-city__large-img_item">
        </picture>
      </div>
    </div>
  </div>
</section>