<div class="transition-background black-yellow"></div>
<div class="advertisement-HP">
  <div class="advertisement-HP__container">
    <div class="advertisement-HP__galerry">
      <div class="advertisement-HP__main-img">
        <picture>
          <source srcset="<%= require('../img/gallery/HP_monitor.png?as=webp') %>" type="image/webp">
          <img src="<%= require('../img/gallery/HP_monitor.png') %>" alt="Монитор HP" class="advertisement-HP__img">
        </picture>
      </div>
      <div class="advertisement-HP__logo">
        <picture>
          <source srcset="<%= require('../img/logo/HP_logo.png?as=webp') %>" type="image/webp">
          <img src="<%= require('../img/logo/HP_logo.png') %>" alt="Лого HP" class="advertisement-HP__img">
        </picture>
        <picture>
          <source srcset="<%= require('../img/logo/ligament.png?as=webp') %>" type="image/webp">
          <img src="<%= require('../img/logo/ligament.png') %>" alt="" class="advertisement-HP__img ligament">
        </picture>
        <picture>
          <source srcset="<%= require('../img/logo/logo.png?as=webp') %>" type="image/webp">
          <img src="<%= require('../img/logo/logo.png') %>" alt="" class="advertisement-HP__img">
        </picture>
      </div>
    </div>
    <div class="advertisement-HP__info">
      <div class="advertisement-HP__title">Полное погружение вместе с HP</div>
      <div class="advertisement-HP__description">Погрузись в современные экшен-игры с реалистичным изображением с помощью монитора с диагональю 23,8 дюйма, созданном для отображения максимально насыщенных цветов. Успевай реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!</div>
      <div class="advertisement-HP__dignity">
        <ul class="advertisement-HP__list">
          <li class="advertisement-HP__item">
            <picture>
              <source srcset="<%= require('../img/icons/color.png?as=webp') %>" type="image/webp">
              <img src="<%= require('../img/icons/color.png') %>" alt="" class="advertisement-HP__icons">
            </picture>
            Яркие насыщенные цвета
          </li>
          <li class="advertisement-HP__item">
            <picture>
              <source srcset="<%= require('../img/icons/awesome.png?as=webp') %>" type="image/webp">
              <img src="<%= require('../img/icons/awesome.png') %>" alt="" class="advertisement-HP__icons">
            </picture>
            Кристальная четкость изображения
          </li>
          <li class="advertisement-HP__item">
            <picture>
              <source srcset="<%= require('../img/icons/motion.png?as=webp') %>" type="image/webp">
              <img src="<%= require('../img/icons/motion.png') %>" alt="" class="advertisement-HP__icons">
            </picture>
            Быстые движения и плавный геймплей
          </li>
        </ul>
      </div>
      <button class="advertisement-HP__button">Подробнее</button>
    </div>
  </div>
</div>